@using LiveStore.Data.Interfaces
@inject ICategories Categories

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LiveStore</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<Menu Style="width: 250px;"
      DefaultSelectedKeys=@(new[] {"1"})
      Mode="@MenuMode.Vertical"
      Theme="MenuTheme.Dark">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <MenuItem Key="6">
            <span class="oi oi-home"> Главная </span>
        </MenuItem>
    </NavLink>
    <SubMenu Key="sub" TitleTemplate="@sub1Title">
        @foreach (var category in _categories)
        {
            <NavLink class="nav-link" href="@($"Catalog/{category.Id}")">
                <MenuItem Key="@category.Id.ToString()">@category.Name</MenuItem>
            </NavLink>
        }
    </SubMenu>
    <NavLink class="nav-link" href="Basket">
        <MenuItem Key="5">
            <span class="oi oi-basket">Корзина</span>
        </MenuItem>
    </NavLink>
    <NavLink class="nav-link" href="AddProduct">
            <MenuItem Key="7">
                <span class="oi oi-basket">Добавить товар</span>
            </MenuItem>
        </NavLink>
</Menu>

@code {
    private IReadOnlyCollection<Category> _categories = new List<Category>();
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        _categories = Categories.GetCategories();
        base.OnInitialized();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    RenderFragment sub1Title =
        @<span class="oi oi-cart">Каталог</span>;

}