@page "/ProductInfo/{productId:int}"
@using LiveStore.Data.Interfaces
@using LiveStore.Data.Model
@using System.Globalization

@inject ICatalog Catalog
<h3>@_product.Name</h3>

<div class="product-item">
    <img src="@_product.Image" alt="">
    <div class="product-list">
        <h3>@_product.Name</h3>
        <span class="price">@_product.Price.ToString("###,###,###", new NumberFormatInfo {NumberGroupSeparator = " ", NumberDecimalSeparator = ", "}) ₽</span>
    </div>
</div>
<h2>О товаре</h2>
<p>@_product.Description</p>

@code {

    [Parameter]
    public int ProductId { get; set; }

    Product _product = Product.Empty;

    protected override void OnInitialized()
    {
        _product = Catalog.GetProducts().First(p => p.Id == ProductId);
        base.OnInitialized();
    }

}